/******** Universal settings ********/
* {
    /***
    Please include the following in the <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    ***/
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 500px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: rgba(251, 251, 251, 0.8);
    border-right: solid rgb(228, 226, 226);
    border-bottom: solid rgb(228, 226, 226);
    border-radius: 8px;
    position: relative;

}

footer {
    text-align: center;
    color: lightgray;
    font-size: 0.8em;
}

ul {
    list-style: '- ';
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 125%;
}
/******** ID modifier *********/



/* Screen view modifier */
/*** Desktop view - larger than or equal to 992px ***/
@media (min-width: 992px) {
    .col-dv-1, .col-dv-2, .col-dv-3, .col-dv-4, .col-dv-5, .col-dv-6, .col-dv-7,
    .col-dv-8, .col-dv-9, .col-dv-10, .col-dv-11, .col-dv-12 {
        float: left;
        /*border: 2px solid black;*/
    }
    .col-dv-1 {
        width: 8.33%;
    }
    .col-dv-2 {
        width: 16.66%;
    }
    .col-dv-3 {
        width: 25%
    }
    .col-dv-4 {
        width: 33.33%
    }
    .col-dv-5 {
        width: 41.66%;
    }
    .col-dv-6 {
        width: 50%;
    }
    .col-dv-7 {
        width: 58.33%
    }
    .col-dv-8 {
        width: 66.66%;
    }
    .col-dv-9 {
        width: 74.99%;
    }
    .col-dv-10 {
        width: 83.33%;
    }
    .col-dv-11 {
        width: 91.66%;
    }
    .col-dv-12 {
        width: 100%;
    }
}


/*** Tablet view - between 768px and 991px ***/
@media (min-width: 768px) and (max-width: 991px) {
    .col-tv-1, .col-tv-2, .col-tv-3, .col-tv-4, .col-tv-5, .col-tv-6, .col-tv-7,
    .col-tv-8, .col-tv-9, .col-tv-10, .col-tv-11, .col-tv-12 {
        float: left;
    }
    .col-tv-1 {
        width: 8.33%;
    }
    .col-tv-2 {
        width: 16.66%;
    }
    .col-tv-3 {
        width: 25%
    }
    .col-tv-4 {
        width: 33.33%
    }
    .col-tv-5 {
        width: 41.66%;
    }
    .col-tv-6 {
        width: 50%;
    }
    .col-tv-7 {
        width: 58.33%
    }
    .col-tv-8 {
        width: 66.66%;
    }
    .col-tv-9 {
        width: 74.99%;
    }
    .col-tv-10 {
        width: 83.33%;
    }
    .col-tv-11 {
        width: 91.66%;
    }
    .col-tv-12 {
        width: 100%;
    }
}


/*** Mobile view - smaller than or equal to 767px ***/
@media (max-width: 767px) {
    .col-mv-1, .col-mv-2, .col-mv-3, .col-mv-4, .col-mv-5, .col-mv-6, .col-mv-7,
    .col-mv-8, .col-mv-9, .col-mv-10, .col-mv-11, .col-mv-12 {
        float: left;
    }
    .col-mv-1 {
        width: 8.33%;
    }
    .col-mv-2 {
        width: 16.66%;
    }
    .col-mv-3 {
        width: 25%
    }
    .col-mv-4 {
        width: 33.33%
    }
    .col-mv-5 {
        width: 41.66%;
    }
    .col-mv-6 {
        width: 50%;
    }
    .col-mv-7 {
        width: 58.33%
    }
    .col-mv-8 {
        width: 66.66%;
    }
    .col-mv-9 {
        width: 74.99%;
    }
    .col-mv-10 {
        width: 83.33%;
    }
    .col-mv-11 {
        width: 91.66%;
    }
    .col-mv-12 {
        width: 100%;
    }
}