/* All case*/
* {
    box-sizing: border-box; 
    font-family:  Arial, Helvetica, sans-serif;
}

/* Base case*/
h1 {
    text-align: center;
    font-size: 175%;
}

section {
    border: 2px solid black;
    position: relative;
    background-color: rgba(153, 153, 153, 1);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-sizing: border-box;

}

section > h2 {
    text-align: center;
    margin: 0px;
    border: 2px solid black;
    font-size: 16px;
    float: right;
    width: 33.3%;
    position: relative;
    top: -2px;
    right: -2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}

div {
    clear: right;
    margin-left: 20px;
    margin-right: 20px;

}

.container {
    position: absolute;
}

#heading1 {
    background-color: pink;
}

#heading2 {
    background-color: rgba(193, 69, 67, 1);
    color: white;
}

#heading3 {
    background-color: rgba(229, 209, 152, 1);
}

/* Desktop view*/
@media (min-width: 992px) {
    .size-dv {
        width: 33.3%;
        float: left;
    }

}

/* Tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
    .size-tv {
        width: 50%;
        float: left;
    }
}

/* Mobile view*/
@media (max-width: 767px) {
    .size-mv {
        width: 100%;
        float: left;
    }

    section {
        position: center;
    }
}



